name: ESP-IDF v4.4

on:
  push:
    branches: []
  pull_request:
    branches: []
  schedule:
    - cron: "0 1 * * 6" # Every Saturday at 1AM  

jobs:

  build:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        idf_ver: ["v4.4.7"]
        idf_target: ["esp32"]
  
    runs-on: ubuntu-latest
    name: Build

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          path: ${{ github.workspace }}/app

      - name: Setup Python
        uses: actions/setup-python@v4

      - run: apt-get install -y python3-venv

      - name: Compile
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: ${{ matrix.idf_ver }}
          target: ${{ matrix.idf_target }}
          path: app/examples/esp-idf
          #command: pip install --upgrade idf-component-manager && apt-get update &&  && idf.py build
          command: idf.py build